django
djangorestframework-simplejwt
djangorestframework
django-filter
markdown
django-extensions
django-cors-headers
pillow
pycryptodome
python-decouple
gunicorn
psycopg2-binary
django-cleanup
requests
transformers
torch 
torchvision 
torchaudio
sentence-transformers